@font-face {
  font-family: "ABCStefan-BubbleTight";
  src: url("../fonts/ABCStefan-BubbleTight.otf") format("opentype");
  font-display: swap;
}

@font-face {
  font-family: "ABCStefan-Simple";
  src: url("../fonts/ABCStefan-Simple.otf") format("opentype");
  font-display: swap;
}

@font-face {
  font-family: "FoundersSemibold";
  src: url("../fonts/FoundersGroteskCondensed-Semibold.otf") format("opentype");
  font-display: swap;
}

@font-face {
  font-family: "FoundersRegular";
  src: url("../fonts/FoundersGrotesk-Regular.otf") format("opentype");
  font-display: swap;
}

.eventsPage {
  min-height: 100vh;
  background: #e9e9e9;
  padding: 40px 20px 120px;
  text-align: center;

  font-family: "FoundersSemibold", sans-serif;
  font-weight: 400;
}

.eventsHeader {
  font-family: "FoundersSemibold", sans-serif;
  font-weight: 400;
  font-size: clamp(2.2rem, 4vw, 4rem);
  margin: 0 0 28px;
  text-transform: uppercase;
}

/* GRID */
.eventsGrid {
  max-width: 1000px;
  margin: 0 auto 60px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
}

@media (max-width: 1000px) {
  .eventsGrid { grid-template-columns: repeat(2, 1fr); }
}
@media (max-width: 650px) {
  .eventsGrid { grid-template-columns: 1fr; }
}

/* CARD */
.eventCard {
  position: relative;
  width: 100%;
  height: 300px; /* 👈 ens størrelse */
  overflow: hidden;
  display: block;
  text-decoration: none;
}

/* IMAGE */
.eventCard img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* 👈 vigtig */
  transition: transform 0.4s ease;
}


/* OVERLAY */
.overlay {
  position: absolute;
  inset: 0;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;

  padding: 16px;

  font-family: "FoundersSemibold", sans-serif;
  font-size: clamp(1rem, 1.2vw, 1.3rem);
  text-transform: uppercase;

  color: white;

  background: linear-gradient(
    to top,
    rgba(0,0,0,0.5),
    rgba(0,0,0,0)
  );

  opacity: 0;
  transition: opacity 0.3s ease;
}

/* SHOW TEXT ON HOVER */
.eventCard:hover .overlay {
  opacity: 1;
}

.eventsIntro {
  font-family: "FoundersSemibold", sans-serif;
  font-weight: 400;
  font-size: clamp(1.1rem, 1.6vw, 1.4rem);
  text-transform: uppercase;
  max-width: 900px;
  margin: 0 auto 40px;
  line-height: 1.3;
}


@media (max-width: 1000px) {
  .eventsGrid { grid-template-columns: repeat(2, 1fr); }
}
@media (max-width: 650px) {
  .eventsGrid { grid-template-columns: 1fr; }
}


.eventTileCenter {
  display: grid;
  place-items: center;
}


.eventsIntro {
  margin: 0 auto 55px;
}


/* bottom text */
.eventsSectionTitle {
  font-family: "FoundersSemibold", sans-serif;
  font-weight: 400;
  margin: 40px 0 10px;
  text-transform: uppercase;
  font-size: 22px;
}

.eventsText {
  max-width: 900px;
  margin: 0 auto 18px;
  text-transform: uppercase;
  font-size:clamp(0.90rem,1.15vw,1.2rem);
  line-height: 1.3;
  font-weight: 400;
}